# VO9 Traveling Salesman, Simulated Annealing

In [3]:
import os

import numpy as np
import pandas as pd
import random
import math

import matplotlib
import matplotlib.pyplot as plt

from tqdm import tqdm_notebook as tqdm

## Traveling Salesman

https://towardsdatascience.com/evolution-of-a-salesman-a-complete-genetic-algorithm-tutorial-for-python-6fe5d2b3ca35

NP-hard problem

In [14]:
input_data_folder = "input_data"
df = pd.read_csv(os.path.join(input_data_folder, "vienna.csv"), index_col=0)
df = df.reset_index()
print(len(df))
df.head()

150

   index        lat        lng
0      0  48.202420  16.369882
1      1  48.213747  16.362367
2      2  48.197074  16.400847
3      3  48.201902  16.345082
4      4  48.213089  16.367602